@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #4f46e5;
  --color-secondary: #64748b;
}

/* Custom base styles */
body {
  @apply bg-slate-50 text-slate-900 antialiased;
}